<div style="width:100%">
<div  style="float:left;width:33%;">

   <div id="C1" class="carta">
     &nbsp;
   </div>
</div>
<div  style="float:left;width:33%;">
   <div id="C2" class="carta">
     &nbsp;
   </div>
</div>
<div  style="float:left;width:33%;">
   <div id="C3" class="carta">
     &nbsp;
   </div>
</div>
</div> 
<div style="clear:both">&nbsp;</div>
<div style="width:100%;">
 <div  style="float:left;width:33%;">
   <table  style="position:relative;left:9vw;">
 <tr><td>
   <div id="C4" class="carta">
     &nbsp;
   </div></td>
 <td>
  <div id="C7" class="carta">
     &nbsp;
   </div>
 </td></tr>
 </table>
</div>
<div   style="float:left;width:33%;;margin-right:33%;">
   
     <div class="disp2">
        <div class="img"><img src="display.gif" ></div>
      <div class="layer"></div>
        <div class="inner">Ciao Mondo</div>
   </div>
</div>

<div  style="float:right;">
     <table style="position:relative;right:3vw;">
 <tr><td>
   <carta></carta>
  </td>
 <td>
  <div id="C8" class="carta">
     &nbsp;
   </div>
 </td></tr>
 </table>
 </div>
 <div style="clear:both">&nbsp;</div>
 <div style="width:100%;background-color:blue;color:white">
    Rosso 2 Blu 24
 </div>