<div style="width:100%">
<div  style="float:left;width:33%;">
     <carta [id]="carta1"></carta>
</div>
<div  style="float:left;width:33%;">
   <carta [id]="carta2"></carta>
   
</div>
<div  style="float:left;width:33%;">
<carta [id]="carta3"></carta>
</div>
</div> 
<div style="clear:both">&nbsp;</div>
<div style="width:100%;">
 <div  style="float:left;width:33%;">
   <table  style="position:relative;left:9vw;">
 <tr><td><carta [id]="mazzo"></carta></td>
 <td><carta [id]="briscola"></carta></td>
</tr>
 </table>
</div>
<div   style="float:left;width:33%;;margin-right:33%;">
   
     <div class="disp2">
        <div class="img"><img src="display.gif" ></div>
      <div class="layer"></div>
        <div class="inner">Ciao Mondo</div>
   </div>
</div>

<div  style="float:right;">
     <table style="position:relative;right:3vw;">
 <tr><td><carta  [id]="giocata1"></carta></td>
 <td><carta [id]="giocata2"></carta>
 </td></tr>
 </table>
 </div>
 <div style="clear:both">&nbsp;</div>
 <div style="width:100%;background-color:blue;color:white">
    Rosso 2 Blu 24
 </div>