<div id="container">
<div  class="cartaContainer">
     <carta [id]="carta1"></carta>
</div>
<div  class="cartaContainer">
   <carta [id]="carta2"></carta>
   
</div>
<div  class="cartaContainer">
<carta [id]="carta3"></carta>
</div>
</div> 
<div style="clear:both">&nbsp;</div>
<div style="width:100%;">
 <div  class="cartaContainer">
   <table  style="position:relative;left:9vw;">
 <tr><td><carta [id]="mazzo"></carta></td>
 <td><carta [id]="briscola"></carta></td>
</tr>
 </table>
</div>
<div id="displaycontainer">
   
     <div>
        <div class="img"><img src="https://raw.githubusercontent.com/ilgilberto/angular-ivy-xda27y/master/assets/display.gif" ></div>
      <div class="layer"></div>
        <div class="inner">{{print}}</div>
   </div>
</div>

<div  style="float:right;">
     <table style="position:relative;right:3vw;">
 <tr><td><carta  [id]="giocata1"></carta></td>
 <td><carta [id]="giocata2"></carta>
 </td></tr>
 </table>
 </div>
 <div style="clear:both">&nbsp;</div>
 <div class="punteggio">
    Rosso 2 Blu 24
 </div>