.scoperta {
  border-width:4px;width:150px;border-style:solid;padding:10px;border-radius:15px"
}


.coperta {
  border-width:4px;width:150px;border-style:solid;padding:10px;border-radius:15px;background-image: url('fill.png');
}